
.group-card-single{
  padding: 5px;
  margin: 5px;
}

.form-submit-btn{
  margin: 5px;
}

.sign-up{
  margin: 10px;
  padding: 10px;
  justify-self: center;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  
}
.member{
  text-align: center;
  display: inline;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
}

.group-text{
  font-size: 30px;
  padding-bottom: 10px;
  padding-left: 7px;
  font-weight: bold;
}

.group-rest{
  border: 2px solid purple;
  border-radius: 10px;
  width: 320px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

body{
  font-family: 'Muli', sans-serif;
}

.rest-cont{
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  /* opacity: .8;   */
  height: 870px;
  overflow: scroll;
}

.single-rest{
  width: 80%;
  margin: 3% 0% 2% 8%;
  opacity: .95;
  box-shadow: 3px 5px 10px 3px black;
}


#overall{
  opacity: 0.94 !important;
}


.jumbotext{
  background: radial-gradient(rgb(105, 165, 31), #34721A);
  border-radius: .5em; 
  box-shadow: 0 19px 30px rgba(0,0,0,0.30), 0 15px 12px rgb(168,240,112,0.22);
  font-family: 'Muli', sans-serif;
  font-size: .9 em;
  /* opacity: 0.7; */
  color: white;
  text-align: center;
}

.opening-pages {
  background-image: url('./Images/lettuce.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: auto;
}

.h1-responsive {
  font-size: 400% !important;
  text-shadow: 2px 2px #084928;
}

.home-page{
  background-image: url('./Images/art-close-up-ecology-886521.jpg');
  /* background-image: url('./Images/palm.jpg'); */
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: auto;
}

.search{
  background: transparent;
}

.search-text{
  color: black;
  font-size: 1.5em;
}

a {
  color: teal;
  font-weight: bolder !important;
}

.input-group{
  background-color: white;
}

.group-card-button{
color: darkgreen !important; 
}


.card-header{
  background-color: lightgray !important; 
 
}
h5, .h5 {
  font-size: 1.25rem;
  font-weight: bolder !important;
}

.group-form{
  font-family: 'Muli', sans-serif !important;
  padding: 15px;
  background-color: lightgray;
  text-align: right;
  margin-top: .5%;
  padding-right: 3%;
  opacity: .9;
  border-radius: 2px;
  margin-bottom: 30px;
}

.date{
  display: inline;
}

.user-form{
  padding-top: 6px;
}

.group-text{
  padding-top: 12px;
  padding-right: 2px;
  font-family: 'Muli', sans-serif !important;
  color: darkgreen;
  text-shadow: #084928;
  font-size: 2.5em;
}

.text{
  padding-top: 12px;
  padding-right: 2px;
  font-family: 'Muli', sans-serif !important;
  color: darkgreen;
  text-shadow: #084928;
  font-size: 1.5em;
}

.button-text{
  color: darkgreen;
}

#rest-card{
  width: 280px !important;
  margin: 28px !important;
  opacity: .9;
}

.card-img-top{
  max-height: 200px !important;
  width: 280px !important;
}

.card-title{
  color: rgb(20, 73, 11) !important;
}

.c-title{
  margin: 15px;
}


.edit-group-info{
  background: white; 
  margin: 15px;
  margin-bottom: 250px;
  opacity: .9;
  text-align: center;
  font-family: 'Muli', sans-serif !important;
  padding: 30px;
}

.group-info{
  background: white; 
  margin: 15px;
  opacity: .9;
  text-align: center;
  font-family: 'Muli', sans-serif !important;
  padding: 30px;
}

.crudb{
  text-align: left;
}

.invite-box{
  margin: 15px; 
  opacity: .9;
}

.group-vote{
  background: white; 
  margin: 15px;
  opacity: .9;
  text-align: center;
  font-family: 'Muli', sans-serif !important;
  padding: 10px;
}

.group-restaurants{
  background: white; 
  margin: 15px;
  opacity: .9;
  text-align: center;
  font-family: 'Muli', sans-serif !important;
  padding: 10px;
}

.group-vote{
  background: white; 
  margin: 15px;
  opacity: .9;
  text-align: center;
  font-family: 'Muli', sans-serif !important;
  padding: 10px;
}

.group-members{
  background: transparent;
  margin: 10px;
  opacity: .9;
  text-align: left;
  font-family: 'Muli', sans-serif !important;
  padding: 20px;
}

.single-rest-group{
  display: inline-block;
  width: 500px;
  height: 700px;
  margin: 2% 0% 2% 2%;
  opacity: .95;
  box-shadow: 5px 5px 15px 5px black;
  overflow: scroll;
  position: relative;

}

.group-name {
  padding-top: 12px;
  padding-right: 2px;
  font-family: 'Muli', sans-serif !important;
  font-size: 5em;
  color: darkgreen;
  text-shadow: #084928;
}

.progress{
  background: rgba(245, 245, 245, 1) !important; 
  border: 0px solid rgba(245, 245, 245, 1) !important;  
  border-radius: 30px; height: 60px !important; 
}

.vote-btn{
  color: green; 
 margin-left: 25px;
 }

.react-datepicker__input-container{
  margin-bottom: 20px !important;
}

.vote-name{
  padding-top: 12px;
  padding-right: 2px;
  padding-bottom: 10px;
  font-family: 'Muli', sans-serif !important;
  font-size: 1.5em;
  color: black;
  text-shadow: #084928;
  text-justify: left !important;
}

.scroll{
  height: 100vh; 
  height: 100% !important;
  overflow: scroll !important;
  position: relative;
}

.simple-title{
  background-color: lightgray;
  color: green;
  padding: 20px;
}
