.single-rest{
  padding: 5px;
  margin: 5px;

}

.group-form{
  padding: 5px;
  margin: 5px;

}

.group-card-single{
  padding: 5px;
  margin: 5px;

}

.form-submit-btn{
  margin: 5px;
}

.sign-up{
  margin: 10px;
  padding: 10px;
  justify-self: center;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  
}


.member{
  text-align: center;
  display: inline;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
  /* font-weight: bold; */
}

.group-text{
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 7px;
  font-weight: bold;
}

.group-rest{
  border: 2px solid purple;
  border-radius: 10px;
  width: 320px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.single-group{
  display: inline-block;
  margin: 10px;
  width: 310px;
}

.rest-cont{
  margin-top: 12px;
  height: 870px;
  overflow: scroll;
}

.map-cont{
 margin-top: 12px;
 width: auto;
 height: 870px;
}