.single-rest{
  padding: 5px;
  margin: 5px;

}

.group-form{
  padding: 5px;
  margin: 5px;

}

.group-card-single{
  padding: 5px;
  margin: 5px;

}

.form-submit-btn{
  margin: 5px;
}

.sign-up{
  margin: 10px;
  padding: 10px;
  justify-self: center;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  
}

